<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bookPage.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="shortcut icon" href="/images/BookOpen.svg" type="image/x-icon">
    <title>Book Page</title>
    <style>

    </style>
</head>
<body>
    <header>
        <%-
        include(navbar)
        %>
    </header>

    <main>
        <div class="mainContainer">
            <div class="imageContainer">
                <img src="/images/bookCovers/<%=bookDetail.cover %>" alt="">
            </div>
            <div class="bookInfoContainer">
                <div id="titleContainer" class="bookInfoChild">
                    <p><%= bookDetail.title %></p>
                    <a href=""><img src="/images/favorite.svg" alt="Favorite Icon"></a>
                </div>
                <div id="authorContainer" class="bookInfoChild">
                    <p>Author: <%= bookDetail.author %></p>
                    <p></p>
                </div>
                <div id="synopsisContainer" class="bookInfoChild">
                    <p><%= bookDetail.synopsis %></p>
                </div>
                <div id="priceStockContainer" class="bookInfoChild">
                    <p>R$<%= bookDetail.price %>.00</p>
                    <div class="bookInfoChild4_SubItems">
                        <button class="stockBtn">-</button>
                        <p id="stockNumber">1</p>
                        <button class="stockBtn">+</button>
                    </div>
                </div>
                <div class="bookInfoChild">
                    <a href="#" id="cartBtn"><img src="/images/SHOPPING_CART _Black.svg" alt="Shopping Cart"></a>
                    <a href="#" id="buyNowBtn">Buy Now</a>
                </div>
            </div>
        </div>

        <div class="secondContainer">
            <p style="text-align: center;" class="categoryText"><strong>View More</strong></p>
            <div id="highligth" class="highligth">
                <div class="highligthChild" id="item1">item1</div>
                <div class="highligthChild" id="item2">item2</div>
                <div class="highligthChild" id="item3">item3</div>
                <div class="highligthChild" id="item4">item4</div>
                <div class="highligthChild" id="item5">item5</div>
            </div>
        </div>
    </main>

    <footer>
        All Rights Reserved: by Diego Deiro & Henrique Viana 
    </footer>

    <script src="/javascripts/getIndexBooks.js"></script>

    
</body>
</html>
