<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Page</title>
    <link rel="stylesheet" href="/stylesheets/bookPage.css">
    <link rel="stylesheet" href="/stylesheets/searchResult.css">
    <link rel="shortcut icon" href="/images/BookOpen.svg" type="image/x-icon">
</head>
<style>

    .favLinks img{
        background-color: rgba(0, 0, 0, 0.837);
    }

    .sidebar {
        width: 600px;
        max-height: calc(100vh - 200px);
        position: fixed;
        top: 100px; 
        right: -600px; 
        background-color: white;
        color: #fff;
        transition: right 0.3s;
        padding: 20px;
        overflow-y: auto;
        z-index: 999; 
    }

        .sidebar.active {
            right: 0; 
        }


        .closeSidebarButton {
            width: 30px;
            border: none;
            cursor: pointer;
            background-color: white;
        }

        .sidebarHeader {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            padding-bottom: 20px;
        }

        .cartMessage {
            font-size: 1em;
            color: Black;
        }

        .bookContainer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px dotted black;
            border-radius: 15px;
            padding: 20px;
            margin: 10px;
            color: black;
        }

        .bookDetailsContainer {
            display: flex;
            flex-direction: column; 
            align-items: flex-start;
            justify-content: space-evenly;
            flex-grow: 1; 
            padding-left: 20px; 
        }

        .bookDetail1, .bookDetail2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 10px; 
            width: 100%;
}

.bookDetail1 p {
    margin-bottom: 5px;
    font-size: 2em;
    margin-left: 10px; 
    white-space: normal; 
}

.bookDetail2 p {
    margin-bottom: 5px;
    font-size: 1.3em;
    margin-left: 10px; 
    white-space: normal;
}

.buyContainer {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: space-evenly;
    flex-grow: 1; 
    padding-left: 20px; 
    margin-bottom: 10px;
    color: black;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 15px;
}

.buyContainerDetails1  .subtotalValue{
    border: 1px solid black;
    border-radius: 15px;
    background-color: #FDBF0F;
}

.subtotalValue {
    padding: 10px;
}

.buyContainerDetails1 {
    display: flex; 
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.buyContainerDetails2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.buyContainerDetails2 a {
    text-align: center;
    width: 100%;
    font-size: 2em;
    border: 1px solid #F9784B;
    background-color: #F9784B;
    border-radius: 15px;
    padding: 5px;
}

</style>
<body data-user-id="<%= userId %>">
    <header>
        <%- include(navbar) %>
    </header>

    <div class="popup" id="myPopup">
        <p id="popupParagraph"></p>
        <button id="closePopup">Close</button>
    </div>

    <div class="searchContainer">
        <div class="searchContainerText">
            <form class="searchBox" action="/favoritePage" method="get">
                <input type="text" class="textBox" id="searchText" name="searchText" placeholder="Research your book">
                <button class="seachBoxButton" id="searchButton" type="submit">
                    <img class="lop-blue" src="/images/loupe-blue.svg" alt="" width="25px" height="25px">
                    <img class="lop-white" src="/images/loupe-white.svg" alt="" width="25px" height="25px">
                </button>
            </form>
                <div class="resultFilterContainer">
                    <div class="resultText">
                        <h2>RESULTS: <h2 style="color: #3AB8EB;">"<%=searchText %>"</h2></h2>
                    </div>
                    <div class="filter-container">
                        <select id="firstFilter">
                            <option value="filter">Filter</option>
                            <option value="category">Category</option>
                            <option value="author">Author</option>
                            <option value="idiom">Idiom</option>
                            <option value="length">Length</option>
                            <option value="price">Price</option>
                        </select>
                        <select id="secondFilter">
                            <option value="all">All</option>
                        </select>
                    </div>
                </div>
        </div>
    </div>

    
    <% if (favoriteBooks && favoriteBooks.length > 0) { %>
                  <% favoriteBooks.forEach(book => { %>
                    <div class="mainContainer">
                        <div class="imageContainer">
                            <img id="bookImage<%= book._id %>" src="/images/bookCovers/<%=book.cover %>" alt="">
                        </div>
                        <div class="bookInfoContainer">
                            <div id="titleContainer" class="bookInfoChild">
                                <p><%= book.title %></p>
                                <a href="/book/<%=book._id%>/removeFavorite" class="favLinks" id="favLinks">
                                    <p class="favImg"><img src="/images/FavoriteRed.svg" alt="Favorite Icon"></p>
                                </a>
                            </div>
                            <div id="authorContainer" class="bookInfoChild">
                                <p>Author: <%= book.author %></p>
                                <p></p>
                            </div>
                            <div id="categoryContainer" class="bookInfoChild">
                                <p >Category: <%= book.category %></p>
                            </div>
                            
                            <div id="priceStockContainer" class="bookInfoChild">
                                <div class="bookInfoChild4_SubItems">
                                    <p>Price: </p>
                                </div>
                                <p>$<%= book.price %>.00</p>
                            </div>

                            <div class="info-block bookInfoChild">
                                <span class="info-icon"><img src="/images/info.png" alt=""></span>
                                <div class="info-card">
                                    <h3>Info</h3>
                                    <div class="bookInfoChild idiomContainer" id="idiomContainer">
                                        <p>Idiom: <%= book.idiom %></p>
                                    </div>
                                    <div class="bookInfoChild pagesContainer" id="pagesContainer">
                                        <p>Pages: <%= book.pages_number %> pages</p>
                                    </div>
                                    <div  class="bookInfoChild priceContainer" id="priceContainer">
                                        <p>Price: R$<%= book.price %>.00</p>
                                    </div>
                                    <div class="bookInfoChild isInStockContainer" id="isInStockContainer">
                                        <p>In Stock: <%= book.isInStock ? 'Yes' : 'No' %></p>
                                    </div>
                                </div>
                              </div>

                            
                              <div class="bookInfoChild">
                                <a href="#" class="cartBtn" id="cartBtn"><img src="/images/SHOPPING_CART _Black.svg" data-book-id="<%= book._id %>" alt="Shopping Cart"></a>
                                
                                <div id="buyNowBtn">
                                    <a id="buyNowText" class="buyNowText" href="/addToCart/<%= book._id%>" data-book-id="<%= book._id %>">Buy Now </a>
                                </div>  
                                <div class="sidebar" id="sidebar">
                                    <div id="sidebarHeader" class="sidebarHeader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <% }); %>
      <% } else { %>
        <div class="noBookText">
            <p>No books found.</p>
        </div>
      <% } %>

      <div id="errorMessage"></div>
    <div id="successMessage"></div>

      <footer>
        All Rights Reserved: by Diego Deiro & Henrique Viana 
    </footer>

    <script src="/javascripts/searchResult.js"></script>
    


    <script>
    const body = document.querySelector('body');
    const userId = body.getAttribute('data-user-id');
    console.log(userId)
    
        function setupFavLinksClick() {
            document.addEventListener("DOMContentLoaded", function () {
                const favLinks = document.querySelectorAll('.favLinks');
                favLinks.forEach(link => {
                    link.addEventListener('click', async (event) => {
                        event.preventDefault();
                        const route = link.getAttribute('href'); 
                        const xhr = new XMLHttpRequest();
                        xhr.open('GET', route, true);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === XMLHttpRequest.DONE) {
                                const popupParagraph = document.getElementById("popupParagraph");
                                const myPopup = document.getElementById("myPopup");
                                if (xhr.status === 200) {
                                    popupParagraph.textContent = xhr.responseText;
                                } else {
                                    popupParagraph.textContent = 'An error occurred.';
                                }
                                myPopup.style.display = 'block';
                            }
                        };
                        xhr.send();
                    });
                });
            });
        }
  

  closePopup.addEventListener("click", function () {
        myPopup.style.display = "none";
        location.reload()
      });

      setupFavLinksClick()

    </script>

<script src="/javascripts/bookPage.js"></script>
</body>
</html>