<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" href="/stylesheets/bookPage.css">
    <link rel="stylesheet" href="/stylesheets/searchResult.css">
    <link rel="shortcut icon" href="/images/BookOpen.svg" type="image/x-icon">
</head>
<body data-user-id="<%= userId %>">
    <header>
        <%- include(navbar) %>
    </header>

    <div class="popup" id="myPopup">
        <p id="popupParagraph"></p>
        <button id="closePopup">Close</button>
    </div>

    <div class="searchContainer">
        <div class="searchContainerText">
            <form class="searchBox" action="/searchBook" method="post">
                <input type="text" class="textBox" id="searchText" name="searchText" placeholder="Research your book">
                <button class="seachBoxButton" id="searchButton" type="submit">
                    <img class="lop-blue" src="/images/loupe-blue.svg" alt="" width="25px" height="25px">
                    <img class="lop-white" src="/images/loupe-white.svg" alt="" width="25px" height="25px">
                </button>
            </form>
                <div class="resultFilterContainer">
                    <div class="resultText">
                        <h2>RESULTS: <h2 style="color: #3AB8EB;">"<%=searchText %>"</h2></h2>
                    </div>
                    <div class="filter-container">
                        <select id="firstFilter">
                            <option value="filter">Filter</option>
                            <option value="category">Category</option>
                            <option value="author">Author</option>
                            <option value="idiom">Idiom</option>
                            <option value="length">Length</option>
                            <option value="price">Price</option>
                        </select>
                        <select id="secondFilter">
                            <option value="all">All</option>
                        </select>
                    </div>
                </div>
        </div>
    </div>

    
    <% if (books && books.length > 0) { %>
                  <% books.forEach(book => { %>
                    <div class="mainContainer">
                        <div class="imageContainer">
                            <img id="bookImage<%= book._id %>" src="/images/bookCovers/<%=book.cover %>" alt="">
                        </div>
                        <div class="bookInfoContainer">
                            <div id="titleContainer" class="bookInfoChild">
                                <p><%= book.title %></p>
                                <a href="<%= book._id %>" class="favLinks" id="favLinks">
                                    <p class="favImg"><img src="/images/favorite.svg" alt="Favorite Icon"></p>
                                </a>
                            </div>
                            <div id="authorContainer" class="bookInfoChild">
                                <p>Author: <%= book.author %></p>
                                <p></p>
                            </div>
                            <div id="categoryContainer" class="bookInfoChild">
                                <p >Category: <%= book.category %></p>
                            </div>
                            
                            <div id="priceStockContainer" class="bookInfoChild">
                                <div class="bookInfoChild4_SubItems">
                                    <p>Price: </p>
                                </div>
                                <p>$<%= book.price %>.00</p>
                            </div>

                            <div class="info-block bookInfoChild">
                                <span class="info-icon"><img src="/images/info.png" alt=""></span>
                                <div class="info-card">
                                    <h3>Info</h3>
                                    <div class="bookInfoChild idiomContainer" id="idiomContainer">
                                        <p>Idiom: <%= book.idiom %></p>
                                    </div>
                                    <div class="bookInfoChild pagesContainer" id="pagesContainer">
                                        <p>Pages: <%= book.pages_number %> pages</p>
                                    </div>
                                    <div  class="bookInfoChild priceContainer" id="priceContainer">
                                        <p>Price: R$<%= book.price %>.00</p>
                                    </div>
                                    <div class="bookInfoChild isInStockContainer" id="isInStockContainer">
                                        <p>In Stock: <%= book.isInStock ? 'Yes' : 'No' %></p>
                                    </div>
                                </div>
                              </div>

                            
                              <div class="bookInfoChild">
                                <a href="#" class="cartBtn" id="cartBtn"><img src="/images/SHOPPING_CART _Black.svg" data-book-id="<%= book._id %>" alt="Shopping Cart"></a>
                                
                                <div id="buyNowBtn">
                                    <a id="buyNowText" class="buyNowText" href="/addToCart/<%= book._id%>" data-book-id="<%= book._id %>">Buy Now </a>
                                </div>  
                                <div class="sidebar" id="sidebar">
                                    <div id="sidebarHeader" class="sidebarHeader"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <% }); %>
      <% } else { %>
        <div class="noBookText">
            <p>No books found.</p>
        </div>
      <% } %>

      <footer>
        All Rights Reserved: by Diego Deiro & Henrique Viana 
    </footer>

    <script>
        
    </script>

    <script src="/javascripts/searchResult.js"></script>

    
    <script>
        const body = document.querySelector('body');
        const userId = body.getAttribute('data-user-id');

        function setupFavoritesPopup() {
            document.addEventListener("DOMContentLoaded", function () {
            const favLinks = document.querySelectorAll('.favLinks');
            const p = document.querySelector('.favImg');
            const img = document.createElement("img");

            favLinks.forEach(link => {
                var hrefValue = link.getAttribute('href');
                link.href = hrefValue;

                if (link) {
                        if (userId) {
                            link.className = "favLinks";
                            link.href = `/user/${userId}/favorite/` + hrefValue;
                        } else {
                            link.className = "popupClick";
                            link.href = "#";
                        }
                    }
                    const popupClickLinks = document.querySelectorAll(".popupClick");
                    const myPopup = document.getElementById("myPopup");
                    const closePopup = document.getElementById("closePopup");
                    const popupParagraph = document.getElementById("popupParagraph");
                
                    const popupMessage = 'You need to be logged in to add this book to your favorites';
                
                    popupClickLinks.forEach(link => {
                        link.addEventListener("click", function (event) {
                        event.preventDefault();
                        popupParagraph.innerHTML = popupMessage;
                        myPopup.style.display = "block";
                        });
                    });
                
                    closePopup.addEventListener("click", function () {
                        myPopup.style.display = "none";
                    });
            });
        
            
            });
        }
        
        setupFavoritesPopup();
        
        function setupFavLinksClick() {
            document.addEventListener("DOMContentLoaded", function () {
                const favLinks = document.querySelectorAll('.favLinks');
                favLinks.forEach(link => {
                    link.addEventListener('click', async (event) => {
                        event.preventDefault();
                        const route = link.getAttribute('href'); 
                        const xhr = new XMLHttpRequest();
                        xhr.open('GET', route, true);
                        xhr.onreadystatechange = function () {
                            if (xhr.readyState === XMLHttpRequest.DONE) {
                                const popupParagraph = document.getElementById("popupParagraph");
                                const myPopup = document.getElementById("myPopup");
                                if (xhr.status === 201) {
                                    popupParagraph.textContent = xhr.responseText;
                                } else {
                                    popupParagraph.textContent = 'An error occurred.';
                                }
                                myPopup.style.display = 'block';
                            }
                        };
                        xhr.send();
                    });
                });
            });
        }

        if (userId) {
            setupFavLinksClick(); 
        }



    </script>
    <script src="/javascripts/buyAndCart.js"></script>
</body>
</html>